.basic-button {
  border-radius: 4px;
  color: #fff;
  font-family: futura;
  cursor: pointer;
}
.header-text {
  color: #fff;
  font-family: futura;
  font-size: 2.5rem;
  padding-top: 5px;
  font-weight: 500;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: futura;
  font-style: normal;
  font-size: 62.5%;
  position: relative;
  background-color: #e5e5e5;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 500px) {
  html,
  body {
    background-color: #330272;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: futura;
  font-style: normal;
}
.container {
  width: 100%;
  min-width: 451px;
}
.container .main-content {
  width: 100%;
  height: 94vh;
}
@media (max-width: 500px) {
  .container .main-content {
    background: url(../images/image.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}
.container .main-content .slika {
  background: url(../images/image.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
}
@media (max-width: 500px) {
  .container .main-content .slika {
    display: none;
  }
}
@media (max-width: 500px) {
  .container .main-content {
    flex-direction: column-reverse;
    background-size: contain;
    min-width: 500px;
    height: 350px;
  }
}
.container .main-content .main-content-text {
  width: 65rem;
  height: 35rem;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container .main-content .main-content-text {
    display: none;
  }
}
.container .main-content .main-content-text .main-content-text-top {
  height: 80%;
  color: #330272;
  font-size: 3.5rem;
  margin: 2.1rem;
  line-height: 4.5rem;
}
.container .main-content .main-content-text .main-content-text-bottom {
  height: 20%;
  margin: 2.1rem;
}
.container .main-content .main-content-text .main-content-text-bottom .get-started {
  border-radius: 4px;
  color: #fff;
  font-family: futura;
  cursor: pointer;
  width: 14rem;
  height: 5rem;
  background-color: #4e09a6;
  font-size: 1.7rem;
  border: none;
}
@media (min-width: 501px) {
  .container .mobile-content {
    display: none;
  }
}
@media (max-width: 500px) {
  .container .mobile-content {
    width: 100%;
    height: 39.1rem;
    background-color: #330272;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #fff;
    padding-top: 16px;
  }
  .container .mobile-content .get-started-mobile {
    border-radius: 4px;
    color: #fff;
    font-family: futura;
    cursor: pointer;
    width: 16rem;
    height: 6rem;
    background-color: transparent;
    font-size: 2.2rem;
    margin-top: 3rem;
  }
}
header {
  width: 100%;
  height: 6.5rem;
  background-color: #330272;
  display: flex;
}
header span {
  color: #fff;
  font-family: futura;
  font-size: 2.5rem;
  padding-top: 5px;
  font-weight: 500;
  text-shadow: 0.5px 0px 0.5px #fff;
}
@media (max-width: 500px) {
  header span {
    color: #fff;
    font-family: futura;
    font-size: 2.5rem;
    padding-top: 5px;
    font-weight: 500;
    text-shadow: none;
  }
}
header .button-div {
  width: 35%;
  display: flex;
}
header .img-div {
  width: 65%;
  margin: 1.8rem;
}
@media (max-width: 500px) {
  header .img-div {
    width: 100%;
  }
}
header .button-div {
  flex-direction: row-reverse;
}
header .sign-in {
  border-radius: 4px;
  color: #fff;
  font-family: futura;
  cursor: pointer;
  width: 9rem;
  height: 4.3rem;
  background-color: transparent;
  margin-top: 1.2rem;
  margin-right: 2.2rem;
  font-size: 1.6rem;
}
