header {
  width: 100%;
  height: 6.5rem;
  background-color: #330272;
  display: flex;

  .img-div,
  .button-div {
    width: 50%;
    display: flex;
  }

  .img-div {
    margin: 1.7rem;
  }
  .button-div {
    flex-direction: row-reverse;
  }
  .sign-in {
    width: 9rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 4px;
    color: #fff;
    margin-top: 1.2rem;
    margin-right: 2.2rem;
    font-size: 1.6rem;
  }
}
