header {
  width: 100%;
  height: 6.5rem;
  background-color: @main-color;
  display: flex;
  span {
    .header-text();
    text-shadow: 0.5px 0px 0.5px #fff;
    @media @mobile {
      .header-text();
      text-shadow: none;
    }
  }

  .button-div {
    width: 35%;
    display: flex;
  }

  .img-div {
    width: 65%;
    margin: 1.8rem;
    @media @mobile {
      width: 100%;
    }
  }
  .button-div {
    flex-direction: row-reverse;
  }
  .sign-in {
    .basic-button();
    .custom-button(9rem, 4.3rem, transparent);
    margin-top: 1.2rem;
    margin-right: 2.2rem;
    font-size: 1.6rem;
  }
  .about-us {
    .basic-button();
    .custom-button(9rem, 4.3rem, transparent);
    margin-top: 1.2rem;
    margin-right: 2.2rem;
    font-size: 1.6rem;
    border: none;
  }
}
